
/* nav bar at top right*/
.nav {
    display: flex; 
    justify-content: end;
}

/* items on nav bar top right*/
.item{
    margin-right: 20px;
    margin-top: 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: small;
    font-family: sans-serif;
    border: 1px solid rgb(0, 119, 255);
    border-radius: 3px;
    background-color: rgb(0, 119, 255);
    padding: 8px 15px 8px 15px;
}

/* hover effect for nav bar items*/
.item:hover{
    box-shadow: 0px 0px 2px 2px rgb(204, 219, 232);
    background-color: rgb(0, 106, 255);
}

/* google logo container*/
.google_container{
    display: flex;
    justify-content: center;
    padding-top: 150px;
       
}


/* google logo */
.google{
    width: 272px;
    
}

.google_container > span{
    position: absolute;
    margin-top: 75px;
    margin-left: 205px;
    font-size: large;
    color: #4285f4;
    font: 16px/16px roboto-regular, arial, sans-serif; 
     
    
}

/* search bar area*/
.search_area{
    display: flex; 
    justify-content: center;
    margin: 20px 10px 3px 10px  
}

/* search bar*/
.search_bar{
    display: flex;
    border: 1px solid rgb(225, 223, 223);
    padding: 3px 10px 3px 10px;
    width: 550px;
    border-radius: 20px;   
}


/* input in search bar*/
.search{
    margin-left:7px;
    width: 500px;
    border: none;
    height: 30px;
    font-size: medium;
}

/* hover for search bar*/
.search_bar:hover{
    box-shadow: 0px 0px 2px 2px rgb(226, 227, 228);
    border: 1px solid rgb(255, 255, 255);
}


/* remove focus border for input in search bar*/
.search:focus{
    outline: none;
}

/* icon for search bar*/
.material-symbols-outlined{
    height: 24px;
    padding-top: 5px;
    font-weight: 50;
}


/* search submit button area*/
.search_button{
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

/* google search and i'm feeling lucky button*/
.search_button > input, .search_button > button{
    margin-right: 20px;
    font-size: small;
    padding: 5px 20px 5px 20px; 
    background-color: rgb(243, 246, 247);
    border: 3px solid rgb(243, 246, 247);  
    border-radius: 5px; 
}

/* hover for google search and i'm feeling lucky*/
.search_button > input:hover, .search_button > button:hover{
    box-shadow:0px 0px 1px 1px rgb(207, 219, 230) ;
}

.google_logo{
    display: flex;
    justify-content: space-between;
}

.advanced_nav{
    display: flex;
    justify-content: end;
    margin-left: 50px;
}


/* advanced search google logo*/
.google_logo > img{
    display: flex;
    width: 6%;
    margin-top: 15px;
    margin-left: 15px;
}



/* form area*/
.container{
    display: grid;
    margin: 50px 0px 20px 40px;
    grid-template-columns: 15% 40% 30%;
    grid-template-rows: 50px 50px 50px 50px;
   
}



.form_label_start{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    font-weight: lighter;
    font-size: smaller;
    
}

.form_input{
    height: 25px;
    width: 97%;
    border: 1px solid rgb(175, 169, 169);
    padding-left: 5px;
}

.form_input:focus{
    border:1px solid #4285f4;
    box-shadow: 0px 0px 1px 1px rgb(179, 175, 175);
    outline: none;
    
}

.form_label_end{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    font-weight: lighter;
    font-size: x-small;
    
}