body {
    margin: 0;
    background-color: white;
}

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
}

textarea {
    height: 60vh;
    width: 80%;
}

.main {
    padding: 10px;
}

.search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
}

.sidebar {
    background-color: #f0f0f0;
    height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    margin-top: 5px;
}

.new_page_form{
    display: grid;
    grid-template-columns: 100%;
    margin: 25px 0px 0px 25px;
}

.form-head{
    width: 25%;
    margin-bottom: 30px;
    padding: 2px 5px 2px 5px;
}
.form-body{
    padding: 10px;
}

.edit-button{
    border: 1px solid rgb(36, 163, 209);
    border-radius: 5px;
    background-color: rgb(28, 118, 208);
    color: aliceblue;
    padding: 3px;
    font-size: medium;
    
}

.edit-button:hover{
    text-decoration: none;
    background-color: rgb(11, 110, 238);
    color: aliceblue;
}
