{% extends "auctions/layout.html" %}

{% block body %}
<div class="login-area">
    <div class="form-head">
    <h2>Login</h2>
    </div>

    <div class="form-message">
    {% if message %}
        <div>{{ message }}</div>
    {% endif %}
    </div>
    
    <div class="form-area">
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="form-item">
            <input autofocus class="form-control" type="text" name="username" placeholder="Username">
        </div>

        <div class="form-item">
            <input class="form-control" type="password" name="password" placeholder="Password">
        </div>

        <div class="form-item">
        <input class="button" type="submit" value="Login">
        </div>

    </form>
    </div>

    <div class="form-item">
    Don't have an account? <a href="{% url 'register' %}">Register here.</a>
    </div>
</div>
{% endblock %}