{% extends "auctions/layout.html" %}

{% block body %}
<div class="login-area">
    <div class="form-head">
    <h2>Register</h2>
    </div>
    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <div class="form-area">
    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div class="form-item">
            <input class="form-control" autofocus type="text" name="username" placeholder="Username">
        </div>
        <div class="form-item">
            <input class="form-control" type="email" name="email" placeholder="Email Address">
        </div>
        <div class="form-item">
            <input class="form-control" type="password" name="password" placeholder="Password">
        </div>
        <div class="form-item">
            <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password">
        </div>

        <div>
        <input class="button" type="submit" value="Register">
        </div>
    </form>
    </div>
    <div class="form-item">
    Already have an account? <a href="{% url 'login' %}">Log In here.</a>
    </div>
</div>
{% endblock %}