{% extends "layout.html" %}

{% block title %}
    Change password
{% endblock %}

{% block login %}
       
{% endblock %}

{% block quote %}

<div class="navi">
    <div>        
      <a class="nav-link active" aria-current="page" >Recipe finder</a>   
</div>
<div >   
      <a class="nav-link" href="/">Index</a>   
</div>     
</div>   




<p>A recipe has no soul. You, as the cook, must bring the soul to the recipe.</p>
{% endblock %}
{% block main %}
<div style="text-align: center; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: medium; margin-bottom: 1%; color: rgb(234, 11, 11);">{{ apology }}</div>
    <form action="/change_password" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus  id="username" name="password" placeholder="Current password" type="password" required>
        </div>
        <div class="mb-3">
            <input  id="password" name="newpassword" placeholder="New Password" type="password" required>
        </div>
        <div class="mb-3">
            <input  id="password" name="confirm" placeholder="Confirm password" type="password" required>
        </div>

        <button type="submit">Submit</button>
    </form>
{% endblock %}