{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block login %}
<div class="navi">
    <div>        
      <a class="nav-link active" aria-current="page" >Recipe finder</a>   
</div>
<div >   
      <a class="nav-link" href="/login">Login</a>   
</div>     
</div>          
{% endblock %}

{% block quote %}
<p>A recipe has no soul. You, as the cook, must bring the soul to the recipe.</p>
{% endblock %}
{% block main %}
<div style="text-align: center; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: medium; margin-bottom: 1%; color: rgb(234, 11, 11);">{{ message }}</div>
    <form action="/register" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus  id="username" name="username" placeholder="Username" type="text" required>
        </div>
        <div class="mb-3">
            <input  id="password" name="password" placeholder="Password" type="password" required>
        </div>
        <div class="mb-3">
            <input  id="password" name="confirm" placeholder="Confirm password" type="password" required>
        </div>

        <button type="submit">Submit</button>
    </form>
{% endblock %}